@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face  {
    font-family: myFont;
    src: url('../fonts/seguisym.ttf');
}

@font-face {
    font-family: segoui;
    src: url('../fonts/segui.ttf');
}

* {
    font-family: -apple-system, BlinkMacSystemFont,  system-ui, segoui, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.app-wrapper {
    width:100%;
    height: 100%;
}

.top-wrapper {
    height: 80%;
    background-image: url('../imgs/pattern.svg');
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.26), 0 -1px 1px rgba(0, 0, 0, 0.81);
}

.full-height {
    height: 100% !important;
}


.top, .content-wrapper {
    height: 100%;
    background-color: rgba(244, 244, 253, 0.945);
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px 30px;
}

.nav-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: row;
}

.active-nav-item {
    color:#5E5078 !important;
    background-color: #bdb6cdb3;
    opacity: 1 !important;
}

.nav .nav-item {
    display: flex;
    padding:7px 13px;
    border-radius: 25px;
    color:black;
    flex-direction: row;
    text-decoration: none;
    font-size:13px;
    opacity: .8;
    align-items: center;
    margin-right: 5px;
}

.nav .nav-item:hover {
    color:rgb(136, 115, 175) !important;
    transition:.2s ease-in-out;
}

.nav .nav-item img {
    width:20px;
    margin-right: 5px;
}

.logo {
    width:135px;
}

.logo img {
    width:100%;
}

.center {
    display: flex;
    flex-direction: row;
}

.center .leftSide {
    display: flex;
    flex-direction: column;
    width:50%;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}


.center .leftSide .left-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow:0px 3px 9px #d4dce4;
}


.center .leftSide img {
    display: block;
    width:400px;
    margin-top: -50px;
    border-radius: 3px;
    box-shadow:0px 5px 15px #b6a4bb;
}

.center .leftSide h4 {
    font-size:22px;
    margin:20px 0px 0px 0px;
    padding:0px;
    font-weight: 500;
}

.center .leftSide h4 span {
    border-bottom:3px solid #5E5078;
}

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    animation-name: pulse;
    animation-delay: 0;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .right-side {
      width:50%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .right-side h3 {
      font-size:26px;
      color:rgba(0,0,0,0.8);
      padding:10px 20px;
      border-radius: 25px;
      background-color: rgb(195, 187, 211);
  }

  .right-side span {
    margin-top: -15px;
    font-size:13px;
    color:rgba(0,0,0,0.8);
    padding:10px;
    border-radius: 25px;
    background-color: rgb(195, 187, 211);
}

.right-side .p-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width:100%;
}

.right-side .p-form .input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.right-side .p-form .input-form .state {
    position: absolute;
    left:-45px;
    width:30px;
    opacity: 1;
    animation-name: fade;
    animation-delay: 0;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-play-state: running;
}


@keyframes fade {
    0% {
        left: -55px;
    }
    100% {
        left: -45px;
    }
}


.right-side .p-form .input-form .input-form-container {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding:0px 20px;
    box-shadow:0px 3px 9px #d4dce4;
}

.right-side .p-form .input-form .name-input {
    
}

.right-side .p-form .input-form input[type='text'] {
    width:100%;
    padding:20px 0px;
    border:none;
    border-radius: 3px;
    background-color: #fff;
    font-size: 16px;
    outline:none;
}


.right-side .p-form  .s-p-b {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: #5E5078;
    margin-left: -150px;
    z-index: 2;
    box-shadow: 0px 3px 9px #d4dce4;
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.right-side .p-form  .s-p-b:hover {
    margin-left: -140px;
}


.right-side .p-form .s-p-b img {
    width:50%;
}

.bottom-wrapper {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 23%;
    align-items: center;
    justify-content: center;
}

.bottom-wrapper .features-wrapper {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
    align-items: center;
}

.bottom-wrapper .features-wrapper .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-wrapper .features-wrapper .feature-item img {
    width:60px;
}


.bottom-wrapper .features-wrapper .feature-item h4 {
    color:rgba(0,0,0,0.8);
}

.languages-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.46);
    width:100%;
    min-height: 650px;
    align-items: center;
}

.languages-wrapper .language {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.languages-wrapper .language h2 {
    font-size:28px;
    margin-top: 40px;
    font-weight: 400;
}

.languages-wrapper .language span {
    border-bottom:3px solid #5E5078;
}

.languages-wrapper .language .language-cards {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
    margin-top: 50px;
}

.languages-wrapper .language .language-cards .language-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    padding:20px; 
    border-radius: 3px;
    box-shadow: 0px 3px 9px #b3bcc5;
}
.languages-wrapper .language .language-cards .language-card:hover {
    background-color: #5E5078;
    transition:.2s ease-in-out;
}

.languages-wrapper .language .language-cards .language-card  h4 {
    padding:10px;
    background-color: rgb(195, 187, 211);
    border-radius: 25px;
    color:rgba(0, 0, 0, 0.86);
}


.about-us-wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    min-height: 400px;
    width:100%;
    background-color: #5E5078;    
}

.about-us-wrapper .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    justify-content: center;
}

.about-us-wrapper .about-us .logo-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 200px;
    margin:auto;
}

.about-us-wrapper .about-us .logo-info img {
    height: 100%;
}


.about-us-wrapper .about-us .social-media {
    display: flex;
    flex-direction: row;
    margin:auto;
    align-items: center;
    justify-content: center;
}

.about-us-wrapper .about-us .social-media img {
    margin-top: 30px;
    width:40px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
    margin-left: 10px;
}

.about-us-wrapper .about-us .info .line {
    margin-top: 20px;
    width:300px;
    height: 2px;
    background-color: #fff;
}

.about-us-wrapper .about-us .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.about-us-wrapper .about-us .info p {
    color:white;
    font-size:13px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-logo {
    width:200px;
}

.top-logo img {
    width:100%;
}

.project-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
}

.project-form .input-form {
    padding:13px 20px;
    width:100%;
    border:none;
    border-radius: 3px;
    outline:none;
    font-size:14px;
    box-shadow: 0px 3px 9px #d4dce4;
    margin-top: 10px;
    transition:.1s linear;
    resize: none;
}

.project-form .input-form:focus {
    box-shadow: 0px 5px 20px #c1c9d0;
}

.project-form .select-lang:hover {
    box-shadow: 0px 5px 20px #c1c9d0;
    color:black;
}

.project-form .btn-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:10px 0px;
    width: 100%;
    box-shadow: 0px 5px 10px rgb(170, 183, 233);
    border:none;
    background-color: #7A8FDF;
    border-radius: 3px;
    margin-top: 10px;
    color:white;
    font-size:18px;
    outline:none;
    transition: .05s linear;
}

.project-form .btn-form img {
    width:25px;
}

.success {
    background-color: rgb(80, 211, 80) !important;
}

.error {
    background-color: rgb(204, 71, 71) !important;
}

.project-form .select-lang {
    position: relative;
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: 10px;
    padding:13px 20px;
    background-color: #fff;
    box-shadow: 0px 3px 9px #d4dce4;
    border-radius: 3px;
    outline:none;
    font-size:14px;
    user-select: none;
    transition:.1s linear;
    color:rgba(0, 0, 0, 0.61);
}

.project-form .select-lang .top-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-form .select-lang .top-select p {
    margin: 0px;
    padding:0px;
}

#down-arrow {
    width:20px;
    margin-right: -8px;
    pointer-events: none;
  }

.project-form .btn-form:hover {
    box-shadow: -1px 10px 20px rgb(170, 183, 233);
}

.project-form .select-lang .drop-lang {
    position: absolute;
    top: 47px;
    left:0;
    display: flex;
    box-shadow: 0px 3px 9px #a3a9af;
    flex-direction: column;
    background-color: #fff;
    width:100%;
}

.project-form .select-lang .drop-lang .drop-lang-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0px 20px;
    width:100%;
    border-top:1px solid lightgray;
    box-sizing: border-box;
    transform: .1s linear;
}

.project-form .select-lang .drop-lang .drop-lang-item:hover {
    background-color: rgba(192, 192, 192, 0.178);
}

.project-form .select-lang .drop-lang .drop-lang-item img {
    width:20px;
}

.project-form .select-lang .drop-lang .drop-lang-item p {
    margin-left: 10px;
}

.project-form .state {
    position: absolute;
    left: -60px;
    width:30px;
    opacity: 1;
    animation-name: fadeS;
    animation-delay: 0;
    animation-duration: .1s;
    animation-iteration-count: 1;
    animation-play-state: running;
}
@keyframes fadeS {
    0% {
      left:-70px;
    } 100% {
      left:-60px;
    }
}

.down-arr {
    transform: rotate(90deg);
    transition:.2s linear;
}

.back-arr {
    transform: rotate(0deg);
    transition:.2s linear;
}

.finished-form-wrapper {
    display: flex;
    flex-direction: column;
    padding:30px;
    background-color: #fff;
    border-radius: 3px;
    width:50%;
    height: 50%;
    box-shadow: 0px 3px 9px #d4dce4;
    align-items: center;
}


.finished-form-wrapper img {
    width:100px;
    border-radius: 50%;
}

.finished-form-wrapper h3 {
    font-weight: 500;
    font-size:20px;
}


.finished-form-wrapper span {
    padding:5px 20px;
    color:white;
    letter-spacing: .5px;
    border-radius: 25px;
    font-weight: 500;
    background-color: rgb(189, 54, 54);
}

.finished-form-wrapper p {
    width:80%;
    opacity: .8;
}

.finished-form-wrapper .copy-url {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.finished-form-wrapper .copy-url input[type='text'] {
    padding:10px;
    border-radius: 3px;
    border:2px solid #e9ebeb;
    font-size:17px;
    color:rgba(0, 0, 0, 0.705);
    font-weight: 500;
    background-color: #fff;
}

.finished-form-wrapper .copy-url button, .finished-form-wrapper .copy-url a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:10px 15px;
    text-decoration: none;
    border-radius: 2px;
    border:none;
    background-color: #7A8FDF;
    color:white;
    font-weight: 500;
    font-size:15px;
    margin-left: 10px;
    transition:.2s linear;
    outline:none;
}

.finished-form-wrapper .copy-url button:hover, .finished-form-wrapper .copy-url a:hover {
    background-color: rgb(106, 125, 204);
}


.lock-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding:40px 40px;
    border-radius: 3px;
    width:20%;
    box-shadow: 0px 3px 9px #d4dce4;
}

.lock-wrapper img {
    width:100px;
}

.lock-wrapper h3 {
    font-weight: 500;
    font-size:17px;
    opacity: .8;
}

.lock-wrapper .input {
    display: flex;
    flex-direction: column;

}

.lock-wrapper .input input[type='password'] {
    box-sizing: border-box;
    outline:none;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 10px 20px;
    border: 2px solid #e9ebeb;
    border-radius: 3px;
    background: 0 0;
    color: #0e1e25;
    font-size: 16px;
    font-weight: 500;
}

.lock-wrapper .input input[type='text']:focus {
    border:2px solid rgb(164, 178, 231);
}

.lock-wrapper .input button {
    padding:8px 20px;
    border-radius: 2px;
    background-color: #7A8FDF;
    color:white;
    font-size:14px;
    font-weight: 500;
    border:none;
    margin-top: 10px;
    transition:.2s linear;
    box-shadow: 0px 3px 9px rgb(153, 170, 236);
}

.lock-wrapper .input button:hover {
    background-color: rgb(106, 125, 204);
}